
.jumbotron {
	border: 5px solid gray;
	background: rgba(128,128,128,0.75);
	margin-top: 50px;
}

#portfolio {
	height: 100vh;
}

/*for tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/*for mobile*/
@media only screen (max-width: 400px) {

}